
<div class="jumbotron m-4">
	<h5>@lblFormPerfil;</h5>
	<hr class="my-4"/>

	<form id="perfil" action="/perfil.html" method="post">
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="nombre" class="required">@lblNombre;:</label>
				<div class="input-group">
					<input type="text" id="nombre" name="nombre" value="@nombreUserSession;" size="35" maxlength="200" class="form-control" tabindex="1" title="@titNombre;" placeholder="@phNombre;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-signature"></i></span></div>
					<span class="invalid-feedback">@nombreErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="ap1" class="required">@lblApellido1;:</label>
				<div class="input-group">
					<input type="text" id="ap1" name="ap1" value="@ap1UserSession;" size="35" maxlength="200" class="form-control" tabindex="2" title="@titApellido1;" placeholder="@phApellido1;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-file-signature"></i></span></div>
					<span class="invalid-feedback">@ap1ErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="ap2">@lblApellido2;:</label>
				<div class="input-group">
					<input type="text" id="ap2" name="ap2" value="@ap2UserSession;" size="35" maxlength="200" class="form-control" tabindex="3" title="@titApellido2;" placeholder="@phApellido2;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2">2</span></div>
					<span class="invalid-feedback">@ap2ErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="nif" class="required">@lblNif;:</label>
				<div class="input-group">
					<input type="text" id="nif" name="nif" value="@nifUserSession;" size="35" maxlength="20" class="form-control" tabindex="4" title="@titNif;" placeholder="@phNif;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-address-card"></i></span></div>
					<span class="invalid-feedback">@nifErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label for="correo" class="required">@lblCorreo;</label>
			<div class="input-group">
				<input type="text" id="correo" name="correo" value="@correoUserSession;" size="60" maxlength="200" tabindex="5" class="form-control" title="@titCorreo;" placeholder="@phCorreo;" />
				<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-envelope"></i></span></div>
				<div class="invalid-feedback">@correoErrText;</div>
			</div>
			<small>@ejCorreo;</small>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary ajax-submit" tabindex="100" title="@titAcceder;">@lblEnviar; &raquo;</button>
		<button type="reset" class="btn btn-light ml-2" tabindex="101" title="@titRestaurar;">&olarr; @lblLimpiar;</button>
	</form>

	<div append="dist/forms/user/links.html" />
</div>
