
<div id="header" class="container mt-5">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="header-content-left">
				<img src="public/img/test/javascript.png" width="100%" />
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="header-content-right">
				<h1 class="display-4">Sit asperiores voluptas atque autem?</h1>
				<p class="mt-5">Amet possimus omnis dolore aliquid quam. Officiis nulla nam laudantium iure amet. Debitis maiores enim modi porro sunt. Ratione harum quasi odit nemo rerum eveniet dolorem quas rem asperiores voluptate!</p>
				<a href="#" class="btn btn-outline-secondary header-btn btn-lg mt-2">Read More</a>
			</div>
		</div>
	</div>
</div>

<div id="testimonial" class="mt-5" style="background: #f1f1f1; padding: 50px 0 30px 0; text-align:center;">
	<p class="h2 mb-2">Consectetur esse incidunt voluptatibus modi quae ipsa eos corrupti ad rerum? Modi natus necessitatibus eaque illum voluptas accusamus aliquid ipsum consectetur? Voluptate voluptate in deleniti amet itaque eius? Impedit sapiente?</p>
	<p class="h4">- Ryan Ray</p>
</div>

<div id="info-one" class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-6">
			<div class="info-left">
				<img src="public/img/upct2.png" width="100%" />
			</div>
		</div>
		<div class="col-md-6 my-auto">
			<div class="info-right">
				<h2>Consectetur magnam quos voluptatibus laboriosam.</h2>
				<p>Amet vero earum quis modi ad? Voluptate id nihil harum mollitia exercitationem, dolores mollitia minus voluptates repellat esse. Dignissimos consectetur libero mollitia nihil enim. Nam pariatur veritatis ratione temporibus nisi!</p>
				<a href="#" class="btn btn-outline-secondary btn-lg">Read More</a>
			</div>
		</div>
	</div>
</div>

<div id="info-two" class="container mt-5">
	<div class="row my-5">
		<div class="col-md-6">
			<h2>Lorem repellat qui.</h2>
			<p>Amet neque nulla enim ex adipisci. Dolorum maxime at mollitia eius explicabo maxime eaque hic eveniet corporis est officia corporis laudantium sed odit officia, voluptates iure in doloremque. Atque quo.</p>
		</div>
		<div class="col-md-6">
			<h2>Dolor harum debitis!</h2>
			<p>Ipsum neque ratione illo fuga numquam accusamus. Ipsam dolore non reprehenderit sed voluptatibus. Aut fugit repudiandae consectetur in obcaecati doloremque praesentium ratione. Laboriosam sapiente corrupti laboriosam aut velit quidem itaque.</p>
		</div>
	</div>
</div>
