
<div class="jumbotron m-4">
	<h5>@msgFormLogin;</h5>
	<hr class="my-4"/>

	<!--<img src="img/png/lock.png" class="float-right" />-->
	<form id="login" method="post" action="/login.html" novalidate>
		<div class="form-row m-2">
			<div class="form-group col-md-3">
				<label for="usuario" class="required">@lblUsuario;:</label>
				<div class="input-group">
					<input type="text" id="usuario" name="usuario" value="@usuarioValue;" size="35" maxlength="200" class="form-control" tabindex="1" title="@titUsuario;" placeholder="@phUsuario;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-key"></i></span></div>
					<span class="invalid-feedback">@usuarioErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-3">
				<label for="clave" class="required">@lblClave;:</label>
				<div class="input-group">
					<input type="password" id="clave" name="clave" value="" size="35" maxlength="200" class="form-control" tabindex="2" title="@titClave;" placeholder="********" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-ellipsis-h"></i></span></div>
					<span class="invalid-feedback">@claveErrText;</span>
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary" tabindex="100" title="@titAcceder;">@lblAcceder; &raquo;</button>
		<button type="reset" class="btn btn-light ml-2" tabindex="102" title="@titRestaurar;">&olarr; @lblLimpiar;</button>
	</form>

	<div append="dist/forms/public/links.html" />
</div>
