
<div class="jumbotron m-4">
	<h5>reCAPTCHA v3 Demo</h5>
	<hr class="my-4"/>

	<form id="reactive" method="post" action="/reactive.html" novalidate>
		<div class="form-row m-2">
			<div class="form-group col-md-6">
				<label for="correo">@lblCorreo;:</label>
				<div class="input-group">
					<input type="text" id="correo" name="correo" value="" size="60" maxlength="200" tabindex="1" 
						class="form-control" title="@titCorreo;" placeholder="@phCorreo;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-envelope"></i></span></div>
					<span class="invalid-feedback">@correoErrText;</span>
				</div>
				<small>@ejCorreo;</small>
			</div>
		</div>
		<br/>
		<button type="submit" class="btn btn-primary ajax-submit captcha" tabindex="100">Send <i class="far fa-paper-plane"></i></button>
	</form>

	<div append="dist/forms/public/links.html" />
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
