
<div class="jumbotron m-4">
	<h5>@lblFormRegistro;</h5>
	<hr class="my-4"/>

	<form id="user" action="/usuario.html" method="post">
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="nombre" class="required">@lblNombre;:</label>
				<div class="input-group">
					<input type="text" id="nombre" name="nombre" value="" size="35" maxlength="200" class="form-control" tabindex="1" title="@titNombre;" placeholder="@phNombre;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-signature"></i></span></div>
					<span class="invalid-feedback">@nombreErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="apellido1" class="required">@lblApellido1;:</label>
				<div class="input-group">
					<input type="text" id="apellido1" name="apellido1" value="" size="35" maxlength="200" class="form-control" tabindex="1" title="@titApellido1;" placeholder="@phApellido1;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-file-signature"></i></span></div>
					<span class="invalid-feedback">@apellido1ErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-4">
				<label for="apellido2">@lblApellido2;:</label>
				<div class="input-group">
					<input type="text" id="apellido2" name="apellido2" value="" size="35" maxlength="200" class="form-control" tabindex="1" title="@titApellido2;" placeholder="@phApellido2;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="fas fa-file-signature"></i></span></div>
					<span class="invalid-feedback">@apellido2ErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-row m-2">
			<div class="form-group col-md-3">
				<label for="nif" class="required">@lblNifCif;:</label>
				<div class="input-group">
					<input type="text" id="nif" name="nif" value="" size="35" maxlength="20" class="form-control" tabindex="1" title="@titNif;" placeholder="@phNif;" />
					<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-address-card"></i></span></div>
					<span class="invalid-feedback">@nifErrText;</span>
				</div>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label for="email" class="required">@lblCorreo;</label>
			<div class="input-group">
				<input type="text" id="email" name="email" value="" size="60" maxlength="200" tabindex="2" class="form-control" title="@titCorreo;" placeholder="@phCorreo;" />
				<div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-envelope"></i></span></div>
				<div class="invalid-feedback">@emailErrText;</div>
			</div>
			<small>@ejCorreo;</small>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary ajax-submit captcha" tabindex="100" title="@titAcceder;">@lblEnviar; &raquo;</button>
		<button type="reset" class="btn btn-light ml-2" tabindex="101" title="@titRestaurar;">&olarr; @lblLimpiar;</button>
	</form>

	<div append="src/tpl/forms/public/links.html" />
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
