
<a href="#" class="nav-item nav-main sidebar-toggle d-phone">
	<img src="public/img/svg/book.svg" class="sidebar-icon" width="32" height="32" />
	<img src="public/img/svg/arrow-left.svg" class="sidebar-icon d-none" width="32" height="32" />
	@lblEmpresaNombre;
</a>

<div id="sidebar" class="d-phone">
	<ul class="menu menu-left">
		<li repeat="menus" id="@_id;" parent="@id_padre;"><a href="@accion;" disabled="@mu_mask;">@nombre;</a></li>
		<li>
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</li>
	</ul>
</div>

<a href="#" class="nav-item nav-main d-none-phone">
	<img src="public/img/svg/book.svg" width="32" height="32" />
	@lblEmpresaNombre;
</a>

<ul class="menu menu-top d-none-phone">
	<li repeat="menus" id="@_id;" parent="@id_padre;"><a href="@accion;" disabled="@mu_mask;">@nombre;</a></li>
	<li>
		<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	</li>
</ul>

<form class="form-inline my-2 my-lg-0 d-pc">
	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
